In [3]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import json  #json형태의 컬럼값 펼치기
from pandas import json_normalize

In [51]:
df = pd.read_csv("/Users/sookyeong/Desktop/train 2.csv")

/var/folders/tz/h0d7hy211kj12my58s3b3m7m0000gn/T/ipykernel_20849/1693422276.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/sookyeong/Desktop/train 2.csv")

In [50]:
df.head(5)

,channelGrouping,date,device,fullVisitorId,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime,visitStartTime_datetime,new_date,new_visitStartTime
0,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",1131660440785968503,"{""continent"": ""Asia"", ""subContinent"": ""Western...",1131660440785968503_1472830385,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472830385,1,1472830385,2016-09-02 15:33:05,2016-09-02,2016-09-02 15:33:05
1,Organic Search,20160902,"{""browser"": ""Firefox"", ""browserVersion"": ""not ...",377306020877927890,"{""continent"": ""Oceania"", ""subContinent"": ""Aust...",377306020877927890_1472880147,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472880147,1,1472880147,2016-09-03 05:22:27,2016-09-02,2016-09-03 05:22:27
2,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",3895546263509774583,"{""continent"": ""Europe"", ""subContinent"": ""South...",3895546263509774583_1472865386,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472865386,1,1472865386,2016-09-03 01:16:26,2016-09-02,2016-09-03 01:16:26
3,Organic Search,20160902,"{""browser"": ""UC Browser"", ""browserVersion"": ""n...",4763447161404445595,"{""continent"": ""Asia"", ""subContinent"": ""Southea...",4763447161404445595_1472881213,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472881213,1,1472881213,2016-09-03 05:40:13,2016-09-02,2016-09-03 05:40:13
4,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",27294437909732085,"{""continent"": ""Europe"", ""subContinent"": ""North...",27294437909732085_1472822600,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472822600,2,1472822600,2016-09-02 13:23:20,2016-09-02,2016-09-02 13:23:20

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   channelGrouping       903653 non-null  object
 1   date                  903653 non-null  int64
 2   device                903653 non-null  object
 3   fullVisitorId         903653 non-null  object
 4   geoNetwork            903653 non-null  object
 5   sessionId             903653 non-null  object
 6   socialEngagementType  903653 non-null  object
 7   totals                903653 non-null  object
 8   trafficSource         903653 non-null  object
 9   visitId               903653 non-null  int64
 10  visitNumber           903653 non-null  int64
 11  visitStartTime        903653 non-null  int64
dtypes: int64(4), object(8)
memory usage: 82.7+ MB

In [7]:
device_df = json_normalize(df['device'].apply(json.loads))

In [8]:
geonetwork_df = json_normalize(df['geoNetwork'].apply(json.loads))

In [9]:
totals_df = json_normalize(df['totals'].apply(json.loads))

In [10]:
trafficsource_df = json_normalize(df['trafficSource'].apply(json.loads))

In [11]:
device_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   browser                    903653 non-null  object
 1   browserVersion             903653 non-null  object
 2   browserSize                903653 non-null  object
 3   operatingSystem            903653 non-null  object
 4   operatingSystemVersion     903653 non-null  object
 5   isMobile                   903653 non-null  bool
 6   mobileDeviceBranding       903653 non-null  object
 7   mobileDeviceModel          903653 non-null  object
 8   mobileInputSelector        903653 non-null  object
 9   mobileDeviceInfo           903653 non-null  object
 10  mobileDeviceMarketingName  903653 non-null  object
 11  flashVersion               903653 non-null  object
 12  language                   903653 non-null  object
 13  screenColors               903653 non-null  object
 14  screenResolution           903653 non-null  object
 15  deviceCategory             903653 non-null  object
dtypes: bool(1), object(15)
memory usage: 104.3+ MB

In [12]:
device_df.describe()

,browser,browserVersion,browserSize,operatingSystem,operatingSystemVersion,isMobile,mobileDeviceBranding,mobileDeviceModel,mobileInputSelector,mobileDeviceInfo,mobileDeviceMarketingName,flashVersion,language,screenColors,screenResolution,deviceCategory
count,903653,903653,903653,903653,903653,903653,903653,903653,903653,903653,903653,903653,903653,903653,903653,903653
unique,54,1,1,20,1,2,1,1,1,1,1,1,1,1,1,3
top,Chrome,not available in demo dataset,not available in demo dataset,Windows,not available in demo dataset,False,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,desktop
freq,620364,903653,903653,350072,903653,664530,903653,903653,903653,903653,903653,903653,903653,903653,903653,664479

In [13]:
geonetwork_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   continent        903653 non-null  object
 1   subContinent     903653 non-null  object
 2   country          903653 non-null  object
 3   region           903653 non-null  object
 4   metro            903653 non-null  object
 5   city             903653 non-null  object
 6   cityId           903653 non-null  object
 7   networkDomain    903653 non-null  object
 8   latitude         903653 non-null  object
 9   longitude        903653 non-null  object
 10  networkLocation  903653 non-null  object
dtypes: object(11)
memory usage: 75.8+ MB

In [14]:
geonetwork_df.describe()

,continent,subContinent,country,region,metro,city,cityId,networkDomain,latitude,longitude,networkLocation
count,903653,903653,903653,903653,903653,903653,903653,903653,903653,903653,903653
unique,6,23,222,376,94,649,1,28064,1,1,1
top,Americas,Northern America,United States,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,(not set),not available in demo dataset,not available in demo dataset,not available in demo dataset
freq,450377,390657,364744,508229,508229,508229,903653,244881,903653,903653,903653

In [15]:
totals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   visits              903653 non-null  object
 1   hits                903653 non-null  object
 2   pageviews           903553 non-null  object
 3   bounces             450630 non-null  object
 4   newVisits           703060 non-null  object
 5   transactionRevenue  11515 non-null   object
dtypes: object(6)
memory usage: 41.4+ MB

In [16]:
totals_df.describe()

        visits    hits pageviews bounces newVisits transactionRevenue
count   903653  903653    903553  450630    703060              11515
unique       1     274       213       1         1               5332
top          1       1         1       1         1           16990000
freq    903653  446754    452522  450630    703060                256

In [17]:
totals_df

       visits hits pageviews bounces newVisits transactionRevenue
0           1    1         1       1         1                NaN
1           1    1         1       1         1                NaN
2           1    1         1       1         1                NaN
3           1    1         1       1         1                NaN
4           1    1         1       1       NaN                NaN
...       ...  ...       ...     ...       ...                ...
903648      1   17        15     NaN         1                NaN
903649      1   18        13     NaN         1                NaN
903650      1   24        21     NaN         1                NaN
903651      1   24        22     NaN         1                NaN
903652      1   31        31     NaN         1                NaN

[903653 rows x 6 columns]

In [18]:
trafficsource_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 14 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   campaign                             903653 non-null  object
 1   source                               903653 non-null  object
 2   medium                               903653 non-null  object
 3   keyword                              400724 non-null  object
 4   adwordsClickInfo.criteriaParameters  903653 non-null  object
 5   isTrueDirect                         274005 non-null  object
 6   referralPath                         330941 non-null  object
 7   adwordsClickInfo.page                21460 non-null   object
 8   adwordsClickInfo.slot                21460 non-null   object
 9   adwordsClickInfo.gclId               21561 non-null   object
 10  adwordsClickInfo.adNetworkType       21460 non-null   object
 11  adwordsClickInfo.isVideoAd           21460 non-null   object
 12  adContent                            10946 non-null   object
 13  campaignCode                         1 non-null       object
dtypes: object(14)
memory usage: 96.5+ MB

In [19]:
trafficsource_df.describe()

,campaign,source,medium,keyword,adwordsClickInfo.criteriaParameters,isTrueDirect,referralPath,adwordsClickInfo.page,adwordsClickInfo.slot,adwordsClickInfo.gclId,adwordsClickInfo.adNetworkType,adwordsClickInfo.isVideoAd,adContent,campaignCode
count,903653,903653,903653,400724,903653,274005,330941,21460,21460,21561,21460,21460,10946,1
unique,10,380,7,3659,1,1,1475,8,2,17774,2,1,44,1
top,(not set),google,organic,(not provided),not available in demo dataset,True,/,1,Top,Cj0KEQjwmIrJBRCRmJ_x7KDo-9oBEiQAuUPKMufMpuG3Zd...,Google Search,False,Google Merchandise Collection,11251kjhkvahf
freq,865347,400788,381561,366363,903653,274005,75523,21362,20956,70,21453,21460,5122,1

In [65]:
trafficsource_df.head()

,campaign,source,medium,keyword,adwordsClickInfo.criteriaParameters,isTrueDirect,referralPath,adwordsClickInfo.page,adwordsClickInfo.slot,adwordsClickInfo.gclId,adwordsClickInfo.adNetworkType,adwordsClickInfo.isVideoAd,adContent,campaignCode
0,(not set),google,organic,(not provided),not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(not set),google,organic,(not provided),not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(not set),google,organic,(not provided),not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(not set),google,organic,google + online,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(not set),google,organic,(not provided),not available in demo dataset,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.head(3)

,channelGrouping,date,device,fullVisitorId,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime
0,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",1131660440785968503,"{""continent"": ""Asia"", ""subContinent"": ""Western...",1131660440785968503_1472830385,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472830385,1,1472830385
1,Organic Search,20160902,"{""browser"": ""Firefox"", ""browserVersion"": ""not ...",377306020877927890,"{""continent"": ""Oceania"", ""subContinent"": ""Aust...",377306020877927890_1472880147,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472880147,1,1472880147
2,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",3895546263509774583,"{""continent"": ""Europe"", ""subContinent"": ""South...",3895546263509774583_1472865386,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472865386,1,1472865386

In [52]:
# POSIX 시간을 datetime으로 변환하여 새로운 컬럼에 저장
df['new_visitStartTime'] = pd.to_datetime(df['visitStartTime'], unit='s')  # unit='s'는 초 단위를 의미합니다.
df.head(3)

,channelGrouping,date,device,fullVisitorId,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime,new_visitStartTime
0,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",1131660440785968503,"{""continent"": ""Asia"", ""subContinent"": ""Western...",1131660440785968503_1472830385,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472830385,1,1472830385,2016-09-02 15:33:05
1,Organic Search,20160902,"{""browser"": ""Firefox"", ""browserVersion"": ""not ...",377306020877927890,"{""continent"": ""Oceania"", ""subContinent"": ""Aust...",377306020877927890_1472880147,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472880147,1,1472880147,2016-09-03 05:22:27
2,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",3895546263509774583,"{""continent"": ""Europe"", ""subContinent"": ""South...",3895546263509774583_1472865386,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472865386,1,1472865386,2016-09-03 01:16:26

In [54]:
# date컬럼 날짜 형식으로 변경
df['new_date'] = pd.to_datetime(df['date'], format='%Y%m%d')
df.head(3)

,channelGrouping,date,device,fullVisitorId,geoNetwork,sessionId,socialEngagementType,totals,trafficSource,visitId,visitNumber,visitStartTime,new_visitStartTime,new_date
0,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",1131660440785968503,"{""continent"": ""Asia"", ""subContinent"": ""Western...",1131660440785968503_1472830385,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472830385,1,1472830385,2016-09-02 15:33:05,2016-09-02
1,Organic Search,20160902,"{""browser"": ""Firefox"", ""browserVersion"": ""not ...",377306020877927890,"{""continent"": ""Oceania"", ""subContinent"": ""Aust...",377306020877927890_1472880147,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472880147,1,1472880147,2016-09-03 05:22:27,2016-09-02
2,Organic Search,20160902,"{""browser"": ""Chrome"", ""browserVersion"": ""not a...",3895546263509774583,"{""continent"": ""Europe"", ""subContinent"": ""South...",3895546263509774583_1472865386,Not Socially Engaged,"{""visits"": ""1"", ""hits"": ""1"", ""pageviews"": ""1"",...","{""campaign"": ""(not set)"", ""source"": ""google"", ...",1472865386,1,1472865386,2016-09-03 01:16:26,2016-09-02

In [82]:
#필요한 컬럼만 남기기
# df
df2 = pd.DataFrame(df[['channelGrouping', 'new_date', 'fullVisitorId', 'sessionId', 'visitId', 'visitNumber', 'new_visitStartTime']])
df2.head(3)

,channelGrouping,new_date,fullVisitorId,sessionId,visitId,visitNumber,new_visitStartTime
0,Organic Search,2016-09-02,1131660440785968503,1131660440785968503_1472830385,1472830385,1,2016-09-02 15:33:05
1,Organic Search,2016-09-02,377306020877927890,377306020877927890_1472880147,1472880147,1,2016-09-03 05:22:27
2,Organic Search,2016-09-02,3895546263509774583,3895546263509774583_1472865386,1472865386,1,2016-09-03 01:16:26

In [83]:
#device 사용컬럼만 남기기
device_df2 = pd.DataFrame(device_df[['browser', 'deviceCategory']])
device_df2.head(3)

   browser deviceCategory
0   Chrome        desktop
1  Firefox        desktop
2   Chrome        desktop

In [71]:
#geonetwork 사용컬럼만 남기기
geonetwork_df2 = pd.DataFrame(geonetwork_df[['continent', 'country']])
geonetwork_df2.head(3)

  continent    country
0      Asia     Turkey
1   Oceania  Australia
2    Europe      Spain

In [76]:
#traficsource 사용컬럼만 남기기, 나머지 컬럼은 
trafficsource_df2 = pd.DataFrame(trafficsource_df[['campaign', 'source', 'medium', 'keyword']])
trafficsource_df2.head(3)

    campaign  source   medium         keyword
0  (not set)  google  organic  (not provided)
1  (not set)  google  organic  (not provided)
2  (not set)  google  organic  (not provided)

In [84]:
#데이터 하나로 합치기
df3 = pd.concat([df2, device_df2, geonetwork_df2, totals_df, trafficsource_df2], axis = 1)
df3

,channelGrouping,new_date,fullVisitorId,sessionId,visitId,visitNumber,new_visitStartTime,browser,deviceCategory,continent,...,visits,hits,pageviews,bounces,newVisits,transactionRevenue,campaign,source,medium,keyword
0,Organic Search,2016-09-02,1131660440785968503,1131660440785968503_1472830385,1472830385,1,2016-09-02 15:33:05,Chrome,desktop,Asia,...,1,1,1,1,1,NaN,(not set),google,organic,(not provided)
1,Organic Search,2016-09-02,377306020877927890,377306020877927890_1472880147,1472880147,1,2016-09-03 05:22:27,Firefox,desktop,Oceania,...,1,1,1,1,1,NaN,(not set),google,organic,(not provided)
2,Organic Search,2016-09-02,3895546263509774583,3895546263509774583_1472865386,1472865386,1,2016-09-03 01:16:26,Chrome,desktop,Europe,...,1,1,1,1,1,NaN,(not set),google,organic,(not provided)
3,Organic Search,2016-09-02,4763447161404445595,4763447161404445595_1472881213,1472881213,1,2016-09-03 05:40:13,UC Browser,desktop,Asia,...,1,1,1,1,1,NaN,(not set),google,organic,google + online
4,Organic Search,2016-09-02,27294437909732085,27294437909732085_1472822600,1472822600,2,2016-09-02 13:23:20,Chrome,mobile,Europe,...,1,1,1,1,NaN,NaN,(not set),google,organic,(not provided)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903648,Social,2017-01-04,5123779100307500332,5123779100307500332_1483554750,1483554750,1,2017-01-04 18:32:30,Chrome,desktop,Americas,...,1,17,15,NaN,1,NaN,(not set),youtube.com,referral,NaN
903649,Social,2017-01-04,7231728964973959842,7231728964973959842_1483543798,1483543798,1,2017-01-04 15:29:58,Chrome,mobile,Asia,...,1,18,13,NaN,1,NaN,(not set),youtube.com,referral,NaN
903650,Social,2017-01-04,5744576632396406899,5744576632396406899_1483526434,1483526434,1,2017-01-04 10:40:34,Android Webview,mobile,Asia,...,1,24,21,NaN,1,NaN,(not set),youtube.com,referral,NaN
903651,Social,2017-01-04,2709355455991750775,2709355455991750775_1483592857,1483592857,1,2017-01-05 05:07:44,Chrome,desktop,Asia,...,1,24,22,NaN,1,NaN,(not set),facebook.com,referral,NaN
903652,Social,2017-01-04,814900163617805053,0814900163617805053_1483574474,1483574474,1,2017-01-05 00:01:14,Chrome,mobile,Americas,...,1,31,31,NaN,1,NaN,(not set),youtube.com,referral,NaN